[defaults]
inventory = ansible/aws_ec2.yml
remote_user = ec2-user
host_key_checking = False
private_key_file = ~/.ssh/id_rsa
deprecation_warnings = False
gathering = explicit

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
